$primary_color:#11749e;

//GENERAL//

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
	display: block;
	width: 100%;
}


.btn-menu {
  display: none;
	position: relative;
	border: none;
	background: transparent;
  width: 30px;
  height: 30px;
	transition: 0.3s;
	cursor: pointer;
}

.hamburger {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
  width: 20px;
  height: 2px;
  transition: 0.5s;
}

.hamburger::after {
  left: 0;
  top: 8px;
}
.hamburger::before {
  bottom: 8px;
  right: 0;
}

.active .hamburger {
  background: transparent;
}
.active .hamburger::before {
  width: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(45deg);
}

.active .hamburger::after {
  width: 20px;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(135deg);
}

.container {
	width: 90%;
	padding: 0 10px;
	margin: 0 auto;
}

.link--active {
  border-bottom: 5px solid $primary_color;
}

.opener {
	.page-section__title {

		.bg-letter {
			display: block;
			position: absolute;
			font-size: 20rem;
			opacity: 0.4;
			left: 50%;
			top: -10%;
			transform: translateX(-50%);
		}

		h2 {
			font-size: 40px;
			padding-bottom: 100px;
			letter-spacing: 5px;
		}

		p {
			text-align: center;
			color: rgb(34, 34, 34);
			font-size: 25px;
		}
	}
}


header {
	width: 100%;
	border-bottom: 1px solid #7e7e7e;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 10000;
	padding: 30px 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.navbar-wrapper {
	width: 60%;
}

.navbar__menu {
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: 50px;
  justify-content: space-between;
  width: 100%;
}

.logo {
	text-decoration: none;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		background-color: $primary_color;
		color: #fff;
		font-weight: bold;
		transform: translate(-10px, -10px);
		box-shadow: 10px 10px 0 #cbcbca;
		transition: 0.3s;
	}
}

.menu__item {
	transition: 0.5s;
	
	&:not(.link--active) {
		border-bottom: 5px solid transparent;
	}

	&:hover, &:focus {
		border-bottom: 5px solid #11749e91;
	}

  a {
    color: white;
		text-decoration: none;
		transition: 0.3s;
  }
}

.social__media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10%;

	a {
		font-size: 14px;
		color: #fff;
	}
}


.sticky {
	background: #0d668c;
	padding: 10px 0;

	.logo {
		text-decoration: none;	
	
		span {
			font-size: 14px;
			width: 40px;
			height: 40px;
			transform: translate(-5px, -5px);
			box-shadow: 5px 5px 0 #cbcbca;
		}
	}
}

//HOME//


#home {
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	height: 100vh;
}


.main-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 15%;
	padding-bottom: 40px;
}

.big-text  {
	h1 {
		text-align: center;
		margin-bottom: 0;
		font-size: 120px;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 2.5px;
	}
	
	p {
		text-align: center;
		text-transform: uppercase;
		font-size: 25px;
		color: $primary_color;
		letter-spacing: 12px;
	}
}

.scroll-down {
	margin-top: 4%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	p {
		font-size: 14px;
	}

	a {
		text-decoration: none;
		text-align: center;
		color: #fff;
		width: 25px;
		height: 25px;
		padding: 0;
		margin: 0;
		display: block;
		border: 1px solid #fff;
		background: transparent;
		border-radius: 50%;

		i {
			line-height: 25px;
			display: block;
		}
	}
}



//PAGES
#pages {
	.bg-letter {
		opacity: 0.3;
	}
}

.awesome-agency {
	color: #fff;
	background: $primary_color;
}

.page-section__title {
	position: relative;
	width: 70%;
	margin: 0 auto;

	

	h2 {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 0;
		padding: 150px 0 150px 0;
	}
}



.features {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 120px;
}

.features__item {
	width: 23%;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background: #2e85aa;
		border-radius: 50%;

		i {
			font-size: 35px;
		}
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
	}

	p {
		font-size: 14px;
		line-height: 1.5em;
		text-align: center;
	}
}

.example-wrapper {
	width: 50%;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
}

.example__content {
	color: #fff;
	width: 80%;
	.top-section {
		display: flex;
		width: 40%;
		justify-content: space-between;
	}

	span {
		font-size: 13px;
		display: block;

		&:nth-child(2) {
			width: 2px;
			background: #898989;
		}
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 14px;
		font-weight: 200;
		line-height: 1.5em;
	}

}

.example__item {
	display: flex;	
}

.example__item:last-child {
	flex-direction: row-reverse;

	
	.example-wrapper {
		background: #f3f3f3;
		
		.example__content {
			color: #000;
		}
	}
}
.example__image {
	width: 50%;
}


//BLOG


#blog {
	padding-bottom: 100px;
}

.blog__posts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.posts__item {
	width: 23%;

	h3 {
		text-align: center;
		color: $primary_color;
		font-size: 18px;
		text-transform: uppercase;
	}

	p {
		font-size: 14px;
		font-weight: 200;
		text-align: center;
		line-height: 1.5em;
	}
}

//QUICK_ACTIONS

#quick-action {
	background: $primary_color;
	padding: 100px 0;
}

.quick-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.actions__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 48%;

	img {
		width: 15%;
	}

	p {
		width: 80%;
		color: #fff;
		font-size: 15px;
		font-weight: 300;
	}
}




//KEY_FEATURE

#key-feature {
	padding: 100px 0;
	background-image: url("../img/bg2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fff;
}

.feature-wrapper {
	display: flex;
	align-items: center;
}

.feature__info {
	width: 45%;
	margin-right: 200px;

	h3 {
		text-transform: uppercase;
		font-size: 25px;
	}

	p {
		font-size: 14px;
		line-height: 1.5em;
		margin-bottom: 70px;
	}
}

.feature__image {
	width: 25%;
}


.links-wrapper {
	display: flex;
	flex-direction: column;

	a {
		font-size: 15px;
		margin-bottom: 15px;
		padding: 10px 20px;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		color: #fff;
		background: $primary-color;
		width: 85%;
		transition: 0.3s ease;

		&:nth-child(1) {
			width: 65%;

			&:hover,&:focus {
				width: 75%;
			}
		}
		&:nth-child(2) {
			width: 75%;

			&:hover,&:focus {
				width: 85%;
			}
		}

		&:nth-child(3) {
			&:hover,&:focus {
				width: 95%;
			}
		}
	}
}


//TEAM

.team__members {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.member__item {
	width: 23%;

	p {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}
}

.member__image {
	width: 100%;
	position: relative;

	h3 {
		margin: 0;
		text-transform: uppercase;
		width: 80%;
		position: absolute;
		bottom: 0;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
		padding: 15px 30px 5px 30px;
		background: #fff;
		color: $primary_color;
	}
}


#contact {
	padding-top: 100px;

	.page-section__title {
		.bg-letter {
			opacity: 0.8;
		}
		h2 {
			font-size: 35px;
			letter-spacing: 1px;
			color: #fff;
		}
	}
}

.form-section {
	padding: 100px 0;
	background-image: url("../img/bg3.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.form {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

	textarea {
		display: block;
		width: 100%;
		height: 200px;
		padding: 20px;
		background: transparent;
		resize: none;
		color: #fff;
		margin-bottom: 50px;
	}

	.contact-details {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		input {
			padding: 20px;
			background: transparent;
			display: block;
			width: 31%;
			color: #fff;
			border: 1px solid #fff;
		}
	}
}

.submit-btn {
	display: block;
	padding: 20px 60px;
	color: #fff;
	background: $primary_color;
	text-transform: uppercase;
	border: none;
	transition: 0.3s ease;

	&:hover,&:focus {
		transform: translateY(-10px);
	}
}

.map-section {
	padding: 160px 0;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	padding: 50px 0;
	background: #222;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			color: #fff;
			font-size: 13px;
			font-weight: normal;
		}

		img {
			width: 15%;
		}
	}
}


//RESPONSIVE

@media only screen and (max-width: 950px) {
	.menu__item a {
		font-size: 15px;
	}

	

	.example__content {
		width: 100%;
		padding: 25px;

		h3 {
			margin: 15px 0;	
		}
	} 

	.example__item {
		position: relative;
		flex-direction: column;
		background-image: url("../img/akita.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 50px;
		
		.example-wrapper {
			width: 75%;
			margin: 0 auto;
			background: rgba($color: #222, $alpha: 0.7)
		}

		&:last-child {
			background-image: url("../img/akita2.png");
			flex-direction: column;

			.example-wrapper {
				background: rgba($color: #f3f3f3, $alpha: 0.7)
			}
		}

		.example__image {
			display: none;
		}
	}

	.posts__item {
		width: 48%;
	
		h3 {
			text-align: center;
			color: $primary_color;
			font-size: 18px;
			text-transform: uppercase;
		}
	
		p {
			font-size: 14px;
			font-weight: 200;
			text-align: center;
			line-height: 1.5em;
		}
	}
	
	.feature__info {
		width: 60%;
		margin-right: 100px;
	}
}

@media only screen and (max-width: 750px) {

	.big-text {
		h1 {
			font-size: 100px;
		}
		p {
			font-size: 20px;
		}
	}
	

	.navbar-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: rgba($color: #000000, $alpha: 0.9);
		transition: 0.5s;
	}

	.navbar--active {
		height: 100vh;
	
		.navbar__menu {
			transform: translateY(0);
		}
	}
	

	.navbar__menu {
		left: 0;
		top: 10%;
		transform: translateY(-150%);
		width: auto;
		position: absolute;
		flex-direction: column;
		align-items: flex-start;
		transition: 1s;
	}

	.menu__item {
		a {
			text-transform: uppercase;
			font-size: 40px;
			transition: 0.3s;

			&:hover, &:focus {
				transform: translateX(10px);
			}
		}
	}

	.btn-menu {
		display: block;
	}

	.social__media {
		width: 15%;
		margin: 0 auto;
	}

	.logo {
		text-decoration: none;
	
		span {
			width: 40px;
			height: 40px;
			transform: translate(-5px, -5px);
			box-shadow: 5px 5px 0 #cbcbca;
		}
	}

	.opener {
		.page-section__title {
			width: 100%;

			.bg-letter {
				display: block;
				position: absolute;
				font-size: 15rem;
				opacity: 0.4;
				left: 50%;
				top: -10%;
				transform: translateX(-50%);
			}
	
			h2 {
				width: 100%;
				font-size: 25px;
				padding-top: 100px;
				letter-spacing: 5px;
			}
	
			p {
				text-align: center;
				color: rgb(34, 34, 34);
				font-size: 15px;
			}
		}
	}

	.features__item {
		width: 48%;
	}

	.quick-actions {
		flex-direction: column;

		.actions__item {
			flex-direction: column;
			width: 100%;
			margin-bottom: 25px;

			p {
				text-align: center;
			}
		}
	}
	.team__members {
		flex-wrap: wrap;

		.member__item {
			width: 48%;
		}
	}
}


@media only screen and (max-width: 600px) {

	.social__media {
		width: 20%;
	}

	.big-text {
		margin-top: 150px;
		h1 {
			font-size: 70px;
		}
		p {
			font-size: 15px;
		}
	}
	.example__item {
		padding: 15px;
		.example-wrapper {
			width: 90%;
			.example__content {
				padding: 15px;
				.top-section {
					font-size: 10px;
				}

				h3 {
					font-size: 18px;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.feature__info {
		margin: 0 auto;
		width: 90%;
	}
	.feature__image {
		display: none;
	}
	.form-section {
		padding: 25px 0;
	}
	.form {
		margin-top: 25px;
		.contact-details {
			flex-direction: column;
			input {
				margin-top: 15px;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 600px) {

	.opener {
		.page-section__title {
			width: 100%;

			.bg-letter {
				display: block;
				position: absolute;
				font-size: 7rem;
				opacity: 0.4;
				left: 50%;
				top: -10%;
				transform: translateX(-50%);
			}
	
			h2 {
				width: 100%;
				font-size: 15px;
				padding-top: 5	0px;
				padding-bottom: 50px;
				letter-spacing: 3px;
			}
	
			p {
				text-align: center;
				color: rgb(34, 34, 34);
				font-size: 12px;
			}
		}
	}

	#key-feature {
		padding: 25px 0;
	}

	#contact {
		padding: 25px 0 0 0;
	}
	.map-section {
		padding: 100px 0;
	}
	.submit-btn {
		padding: 10px 30px;
		font-size: 12px;
	}
	footer {
		padding: 25px 0;
		.container {
			h3 {
				font-size: 10px;
			}
			img {
				width: 30%;
			}
		}
	}
	.team__members {
		flex-wrap: wrap;
		.member__item {
			margin: 0 auto;
			width: 75%;
		}
	}
	.features__item {
		margin: 25px auto;
		width: 90%;
	}
	.posts__item {
		width: 90%;
		margin: 15px auto;
	}
}

@media only screen and (max-width: 470px) {
	.big-text {
		margin-top: 150px;
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 14px;
		}
	}
	#blog {
		padding: 25px 0;
	}
	#quick-action {
		padding: 25px 0;
	}
	.features {
		padding: 25px 0;
	}
	.example__item {
		padding: 0;
		.example-wrapper {
			width: 100%;
			.example__content {
				padding: 15px;
				.top-section {
					font-size: 10px;
				}

				h3 {
					font-size: 18px;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.links-wrapper {
		a {
			font-size: 10px;
			padding: 5px 10px;
		}
	}
	.social__media {
		width: 30%;
	}
	.menu__item {
		a {
			text-transform: uppercase;
			font-size: 30px;
		}
	}
	.team__members {
		.member__item {
			width: 95%;
		}
	}
}